<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed%>
    <p>This task is completed.</p>
<% else %>
    <p>This task is not completed.</p>
<% end %>

<p><%= link_to "Edit This Task", edit_task_path %></p>
<p><%= link_to "Back to lists", tasks_path %></p>
